body {
    background-image: url("../images/KOBEBACK.jpg");
    font-family: Orbitron;
    text-align: center;
    
}

h1 {
    font-family: Righteous;
    font-size: 72px;
    text-align: center;
    color: white;
}

#Time {
font-family: Orbitron;
color: white;
font-size: 36px;
text-align: center; 
}

#Answer {
    text-align: center;
    cursor: pointer;
    color: red;
    border: 1px solid white;
}

#Questions {
    text-align: center;
    color: gold;
}